@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<body class="bg-gradient-primary">
    <div class="mt-2 d-flex justify-content-center alert alert-danger text-center mt-5">
        <h4>Acceso Invalido. Inicie Sesion</h4>
    </div>

    <div class="mt-5 d-flex justify-content-center">
        <a class=" btn btn-secondary btn-user" asp-action="Login" asp-controller="Login">
            Iniciar Sesion</a>
    </div>
</body>