
<body class="bg-gradient-primary">
    <div class="mt-2 d-flex justify-content-center alert alert-danger text-center mt-5">
        <h4>Solo el Rol de Administrador Puede ejecutar esta funcion</h4>
    </div>
</body>