@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<body class="bg-gradient-primary">
    <div class="container ">
        <div class="mt-5 d-flex justify-content-center alert alert-danger">
            <h4>Se ha enviado un enlace a su correo para recuperar la clave</h4>
        </div>
    </div>
</body>
