@model Vista.ViewModels.RecuperarClaveViewModel;

@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image">
                                <img class="mt-5" src="~/imagenes/doctorLogin.png" alt="Alternate Text" style="height:400px; " />
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                                        <p class="mb-4">
                                            ¡Solo ingresa tu dirección de correo electrónico
                                            a continuación y te enviaremos un enlace para restablecer tu contraseña!
                                        </p>
                                    </div>
                                    <form class="user" asp-action="RecuperarPassword" asp-controller="Password">
                                        <span asp-validation-for="Correo" class="text-danger text-center"></span>
                                        @if (Model.UsuarioNull)
                                        {
                                            <h6 class="text-danger text-center">El correo ingresado no ha sido encontrado...</h6>
                                        }
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   asp-for="Correo"
                                                   placeholder="Ingrese su correo...">
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Reset Password
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-action="Registrar" asp-controller="Registrar">Crear Cuentat!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" asp-action="Login" asp-controller="Login">YA tienes una cuenta? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
